@charset "UTF-8";
@import '../css/normalize.css';
@import '../css/reset.min.css';
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/pressstart2p-regular.woff2") format("woff2"), url("../webfonts/pressstart2p-regular.woff") format("woff");
}
/* Basic/Re-usable html elements with combinations */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  position: relative;
}
body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

small {
  font-size: 0.5em;
}

body,
input,
select,
textarea {
  color: #888;
  font-family: "Lato", sans-serif, "Press Start 2P";
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.5em;
}

strong,
b {
  color: #777;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2.25em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5625em 0;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px #f4f4f4;
  margin: 2.25em 0;
}
hr.major {
  margin: 3.375em 0;
}

code {
  background: #555;
  border-radius: 5px;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  margin: 0 0 2.25em 0;
}
pre code {
  -webkit-overflow-scrolling: touch;
  display: block;
  line-height: 1.5em;
  overflow-x: auto;
  padding: 1em 1.5em;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: calc(100% - 4.5em);
  width: 80%;
}
.container.small {
  width: 40%;
}
.container.large {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
  }
}

/* Section/Article */
section.special,
article.special {
  text-align: center;
}

/* Header elements in each section */
header {
  /* Inside header element, if only 1 P, if h2 AND P, etc header is the FRONTEND part */
}
header p {
  color: #aaa;
  position: relative;
  margin: 0 0 1.6875em 0;
}
header h2 + p {
  font-size: 1.25em;
  margin-top: -0.5em;
  line-height: 1.5em;
}
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.35em;
  line-height: 1.5em;
}
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.25em;
  line-height: 1.5em;
}
header.major h2 {
  color: #4acaa8;
  font-size: 3.5em;
}
header.major h2 + p {
  color: #777;
  font-size: 1.75em;
  font-weight: 700;
  margin-top: -0.75em;
}

/* Form */
form {
  margin: 0 0 2.25em 0;
}

label {
  color: #777;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 1.125em 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: none;
  border: solid 2px #e4e4e4;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
textarea:invalid {
  box-shadow: none;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: #4acaa8;
}

input[type=text],
input[type=password],
input[type=email] {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

::-webkit-input-placeholder {
  color: #aaa !important;
  font-style: italic;
  opacity: 1;
}

:-moz-placeholder {
  color: #aaa !important;
  font-style: italic;
  opacity: 1;
}

::-moz-placeholder {
  color: #aaa !important;
  font-style: italic;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #aaa !important;
  font-style: italic;
  opacity: 1;
}

/* Icon  defined to use :before element for icons -- basic*/
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.icon > .label {
  display: none;
}
.icon:before {
  line-height: inherit;
}
.icon.solid:before {
  font-weight: 900;
}
.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Feature Icons customize icons use :before elements and it is generally used in a list in this template */
ul.icons {
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  text-decoration: none;
  display: inline-block;
  margin: 0 0 1.6875em 0;
  padding: 0.35em 0 0 3.5em;
  position: relative;
  vertical-align: top;
  width: 48%;
}
ul.icons li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
ul.icons li:before {
  background: #4acaa8;
  border-radius: 100%;
  color: #ffffff;
  display: block;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}

/* Button */
input[type=submit],
input[type=reset],
input[type=button],
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #989898;
  border-radius: 5px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover {
  background-color: #a5a5a5;
  color: #ffffff !important;
}
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active,
button:active {
  background-color: #8b8b8b;
}
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
button:focus {
  outline: 0;
}

/* Header*/
.header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #4acaa8;
  color: #d2f2e9;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 20em;
  right: 0;
}
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  color: #ffffff;
}
.header h1 a,
.header h2 a,
.header h3 a,
.header h4 a,
.header h5 a,
.header h6 a {
  color: #ffffff;
  text-decoration: none;
}
.header > header {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 2em;
}
.header > header h1 {
  font-size: 1.75em;
  margin: 0;
}
.header > header p {
  color: #d2f2e9;
  font-style: italic;
  margin: 1em 0 0 0;
}
.header > footer {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  padding: 0 2em 1em 2em;
  width: 100%;
}
.header > nav {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.header > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header > nav ul li {
  border-top: solid 2px #5ccfb1;
  display: block;
  padding: 0;
}
.header > nav ul li a {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
  border: 0;
  color: #ffffff !important;
  display: block;
  padding: 0.85em 0;
  text-decoration: none;
}
.header > nav ul li a.active {
  background: #fff;
  color: #4acaa8 !important;
}
.header > nav ul li:first-child {
  border-top: 0;
}
.header__image {
  display: block;
  margin: 0 auto 2.25em auto;
  width: 10em;
}
.header__image img {
  width: 100%;
  border-radius: 100%;
}
.header__footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__footer ul :first-child {
  margin-right: 0.5em;
}
.header__footer ul :last-child {
  margin-left: 0.5em;
}
.header__footer ul li a {
  color: #b7eadc;
}

/* Wrapper layout Do not touch*/
.wrapper {
  background: #fff;
  padding-right: 20em;
}

/* Main layout Do not touch*/
.main__description__banner {
  position: relative;
}
.main__description__banner img {
  width: 100%;
}
.main__description__banner p {
  padding: 0 3em;
  bottom: -1em;
  font-family: "Press Start 2P";
  font-size: 3em;
  width: 50%;
  height: 30%;
  position: absolute;
  color: #fff;
}
.main > section {
  border-top: solid 6px #f4f4f4;
}
.main > section > .container {
  padding: 6em 0 4em 0;
}
.main > section:first-child {
  border-top: 0;
}

/* Project layout */
.projects__container {
  display: flex;
}
.projects__container > a {
  display: block;
  width: 48%;
  padding-right: 2.5em;
}
.projects__container > a > img {
  width: 100%;
  border-radius: 5px;
}
.projects__container__inner {
  width: 50%;
  display: inline-block;
}
.projects article {
  border-top: solid 3px #f4f4f4;
  margin-bottom: 2.25em;
  padding-top: 2.25em;
}
.projects article:first-child {
  border-top: 0;
  padding-top: 0;
}

/* Footer */
.main__footer {
  background: #fafafa;
  border-top: 0;
  color: #c0c0c0;
  overflow: hidden;
  padding: 1em 0 1em 0.5em;
}
.main__footer .copyright {
  font-size: 0.8em;
  line-height: 1em;
  list-style: none;
  padding: 0;
  display: flex;
}
.main__footer .copyright li:before {
  margin: 0 0.2em 0 0.2em;
}

#titleBar {
  display: none;
}

/* Large */
@media screen and (max-width: 1280px) {
  /* Basic */
  html,
body {
    overflow-x: hidden;
  }

  body,
input,
textarea {
    font-size: 12pt;
  }

  /* Header */
  .header {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: flex;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 17em;
    z-index: 1002;
    /* Animation is fine */
    -moz-transform: translateX(17em);
    -webkit-transform: translateX(17em);
    -ms-transform: translateX(17em);
    transform: translateX(17em);
    right: 0;
  }
  .header > footer {
    bottom: auto;
    left: auto;
    margin: 0.5em 0 0 0;
    position: relative;
    right: auto;
    top: auto;
  }

  /* Wrapper */
  .wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 44px 0 1px 0;
  }

  /* Header Panel */
  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background: #222;
    color: #fff;
  }
  #titleBar .title {
    color: #fff;
    display: block;
    font-weight: 700;
    height: 44px;
    line-height: 44px;
    padding: 0 1em;
    width: 100%;
    text-align: left;
  }
  #titleBar .title a {
    border: 0;
    text-decoration: none;
    color: inherit;
  }
  #titleBar .toggle {
    text-decoration: none;
    height: 4em;
    position: absolute;
    top: 0;
    width: 6em;
    border: 0;
    outline: 0;
    right: 0;
  }
  #titleBar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  #titleBar .toggle:before {
    background: #4acaa8;
    color: #ffffff;
    content: "";
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 64px;
    right: 0;
  }

  body.header-visible .wrapper,
body.header-visible #titleBar {
    -moz-transform: translateX(-17em);
    -webkit-transform: translateX(-17em);
    -ms-transform: translateX(-17em);
    transform: translateX(-17em);
  }
  body.header-visible .header {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
/* SMALL */
@media screen and (max-width: 768px) {
  /* Basic */
  html,
body {
    overflow-x: hidden;
  }

  body,
input,
select,
textarea {
    font-size: 12pt;
  }

  /* Header */
  .header {
    width: 17em;
    -moz-transform: translateX(17em);
    -webkit-transform: translateX(17em);
    -ms-transform: translateX(17em);
    transform: translateX(17em);
    right: 0;
  }
  .header > footer {
    margin: 0.5em 0 0 0;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
  }

  .main__description__banner p {
    font-size: 2em;
  }

  /* Wrapper */
  .wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 44px 0 1px 0;
  }

  .projects__container {
    display: flex;
    flex-direction: column;
  }
  .projects__container > a {
    display: block;
    width: 100%;
  }
  .projects__container > a > img {
    width: 100%;
    border-radius: 5px;
  }
  .projects article {
    border-top: solid 3px #f4f4f4;
    margin-bottom: 2.25em;
    padding-top: 2.25em;
  }
  .projects article:first-child {
    border-top: 0;
    padding-top: 0;
  }

  /* Header Panel */
  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
    background: #222;
    color: #fff;
    min-width: 320px;
  }
  #titleBar .title {
    color: #fff;
    display: block;
    font-weight: 700;
    height: 44px;
    line-height: 44px;
    padding: 0 1em;
    width: 100%;
    text-align: left;
  }
  #titleBar .title a {
    border: 0;
    text-decoration: none;
    color: inherit;
  }
  #titleBar .toggle {
    text-decoration: none;
    height: 4em;
    position: absolute;
    top: 0;
    width: 6em;
    border: 0;
    outline: 0;
    right: 0;
  }
  #titleBar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  #titleBar .toggle:before {
    background: #4acaa8;
    color: #ffffff;
    content: "";
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 64px;
    right: 0;
  }

  body.header-visible .wrapper,
body.header-visible #titleBar {
    -moz-transform: translateX(-17em);
    -webkit-transform: translateX(-17em);
    -ms-transform: translateX(-17em);
    transform: translateX(-17em);
  }
  body.header-visible .header {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/*# sourceMappingURL=main.css.map */
